body {
}

.container {
    display: flex;
}
.nav {
    margin-right: 5%;
    height: 80vh;
    background-color: #efefef;
    width : 15%
}
.nav-list{
    text-align:center;
    width : 100%;
    display : flex;
    flex-direction : column;
}
.nav-item:hover{
    background-color : darkgray;
}
hr{
    margin:0
}